<ion-content [fullscreen]="true">
  <div id="header">
    <div id="app-bar">
      <!--
      <div id="logo">
        <img src="assets/logo.png" alt="">
      </div>
      <div></div>-->

    </div>
    <br>
    
    <h1>Sign In</h1>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      
      <ion-card-content>
        <br>
          <ion-input [(ngModel)]="username" label="Username" label-placement="floating" fill="outline" placeholder="Username"></ion-input>
        <br>
          <ion-input [(ngModel)]="password" label="Password" label-placement="floating" fill="outline" placeholder="Password" type="password"></ion-input>       
        <br>
        <ion-button expand="full" (click)="login()" [disabled]="loading">
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          <span *ngIf="!loading">Login</span>
        </ion-button>

        <p *ngIf="error" style="color: red; margin-top: 1rem;">{{ error }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>



