<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-karyawan"></ion-back-button>
    </ion-buttons>
    <ion-title>History Makan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="history.length > 0; else kosong">
    <ion-item *ngFor="let item of history">
      <ion-label>
        <h2>Tanggal: {{ item.tanggal }}</h2>
        <p>Shift: {{ item.shift }}</p>
        <p>Waktu: {{ item.waktu }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #kosong>
    <p>Belum ada data absensi makan.</p>
  </ng-template>
</ion-content>
