<ion-content [fullscreen]="true">
  <div class="main_content_div">
    <div class="user_div">
      <div class="first_div">
        <ion-label class="username">{{ profil.nama }}</ion-label>
        
      </div>
     
    </div>

    <div class="content_div">
      <div class="test_details">
        <ion-grid fixed>
          <ion-row>

            <ion-col size="6">
              <div class="flex_div">

                <div class="round_div">                 
                  <ion-icon slot="start" name="person-circle"></ion-icon>
                </div>

                <div class="details">
                  <ion-label class="bold_lbl">{{ profil.role }}</ion-label>
                </div>
              </div>
            </ion-col>

            

          </ion-row>
        </ion-grid>
      </div>

      <div class="list_div" (click)="goToHistoryMakan()">
        <ion-label>History Makan</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

      <div class="list_div" [routerLink]="['/jadwal-shif']">
        <ion-label>Jadwal Shif</ion-label> 
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

      <div class="list_div" [routerLink]="['/ganti-password-karyawan']">
        <ion-label>Ganti Password</ion-label> 
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

      <div class="list_div" (click)="logout()">
        <ion-label>Log Out</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

      
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" class="icon-buttons">
      <ion-button 
        [routerLink]="['/dashboard-karyawan']" 
        fill="clear" 
        size="large"
        aria-label="Dashboard"
        (click)="removeFocusBeforeNavigate()">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-button>
      
    </ion-buttons>

    <ion-buttons slot="end" class="icon-buttons">
      
      <ion-button 
        [routerLink]="['/profile-karyawan']" 
        fill="clear" 
        size="large"
        aria-label="Profil HRGA"
        (click)="removeFocusBeforeNavigate()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>