ion-header, ion-toolbar, ion-content, ion-footer {
  box-shadow: none !important;
  border: none !important;
  --border-width: 0 !important;
  --border-color: transparent !important;
  
}

.table-container {
  overflow-x: auto;
  padding: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ccc; /* Tambahkan border */
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-item {
  margin-bottom: 12px;
  border-radius: 8px;
  --background: #f9f9f9;
}

ion-select, ion-datetime, ion-input {
  width: 100%;
}

ion-button {
  margin-top: 12px;
  border-radius: 10px;
  font-weight: bold;
}

.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f1f1f1;
  font-weight: bold;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

ion-datetime.year-picker {
  max-width: 130px;
  margin-left: auto;
}
